* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue1: hsl(217, 19%, 35%);
  --dark-blue2: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
  --light: #fff;
  --mid-size: 14px;
  --big-size: 16px;
  --font-family: "Manrope", sans-serif;
  --normal-weight: 500;
  --bold-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--mid-size);
  background-color: var(--light-gray-blue);
}

.article-preview-container {
  max-width: 375px;
  min-width: 375px;
  background-color: var(--light);
  border-radius: 15px;
  color: var(--dark-blue1);
  position: relative;
}

.preview-img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  width: 375px;
  border-radius: 15px 15px 0 0;
}

.preview-text {
  padding: 1rem 3rem;
}

.big-text {
  font-size: var(--big-size);
  font-weight: bold;
  margin-bottom: 20px;
}

.small-text {
  padding-right: 1.5rem;
  color: var(--dark-blue2);
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  border-radius: 0 0 15px 15px;
}

.avatar {
  display: block;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.author-wrapper {
  display: flex;
  align-items: center;
}

.share-icon {
    border-radius: 50%;
    padding: 7px 6px;
    cursor: pointer;
}

.light {
    background-color: var(--light-gray-blue);
}

.share-container {
    background-color: var(--dark-blue1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 3rem;
    border-radius: 0 0 15px 15px;
    position: absolute;
    top: 89%; 
    width: 100%;
}

.share-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--light-gray-blue);
}

.social-media-icons {
    display: flex;
    justify-content: space-evenly;
    min-width: 120px;
}
.dark {
    background-color: var(--dark-blue2);
}

.icon {
    cursor: pointer;
}

.invisible {
    display: none;  
}

@media screen and (min-width: 1440px) {

  .article-preview-container {
    display: flex;
    width: 45%;
    max-width: 1440px;
    min-width: 875px;
  }

  .preview-img {
    max-height: 375px;
    border-radius: 15px 0 0 15px;
  }
  
  .big-text {
    font-size: 24px;
  }
    .small-text {
      padding-right: 0.5rem;
    }

    .preview-text {
      padding-right: 2rem;
    }

  .share-container {
    position: absolute;
    top: 47%;
    width: 35%;
    border-radius: 15px;
    left: 75%; 
  }

  .share-container::after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: var(--dark-blue1);
    position: absolute;
    top: 80%;
    left: 47%;
    clip-path: polygon(0% 100%, 100% 100%,50% 0%);
    transform: rotate(180deg);
  }


  .dark {
    position: absolute;
    top: 155%;
    left: 47%;
  }
}

